script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js")
script(src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.15/jquery-ui.min.js")
script(src='/nowjs/now.js')
script(src='/javascripts/main.js')
canvas#maincanvas(width="100%", height="100%")
#fpsText
#rankStat
#killStat
